MONGO_URI=mongodb+srv://gowrureshma:Reshma%40mcl@cluster0.isp6lzc.mongodb.net/team-task-manager?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=mysecretkey123
JWT_EXPIRE=7d

PORT=3000
NODE_ENV=production

BCRYPT_ROUNDS=10
